@tailwind base;
@tailwind components;
@tailwind utilities;

*:focus-visible:not(input[type=search]) {
    outline: 1px dashed black;
    border-radius: 20px;
}

body::after {
  content: '';
  background-color: rgba(32, 31, 31, 0.415);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

body.no-overlay::after {
  content: none;
}

body, html {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

summary {
    user-select: none;
    touch-action: none;
    cursor: pointer;
}

.scrollbar-hide {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.scrollbar-hide::-webkit-scrollbar {
  display: none; /* Chrome, Safari, and Opera */
}



@supports selector(::-webkit-scrollbar) {
    .custom-scrollbar {
        scrollbar-gutter: stable;
    }    
    .custom-scrollbar::-webkit-scrollbar {
      background: transparent;
      width: 10px;
    }
    .custom-scrollbar::-webkit-scrollbar-thumb {
      background: rgb(210, 210, 210);
      border-radius: 100px;
      border: 3px solid rgba(0, 0, 0, 0);
      background-clip: padding-box;
    }
    .custom-scrollbar::-webkit-scrollbar-thumb:hover {
        background: rgb(198, 198, 198);
        border: 3px solid rgba(0, 0, 0, 0);
        background-clip: padding-box;
    }
    .custom-scrollbar::-webkit-scrollbar-thumb:active {
        background: rgb(164, 163, 163);
        border: 3px solid rgba(0, 0, 0, 0);
        background-clip: padding-box;
    }
}

@supports selector(::-webkit-scrollbar) {
    /* .custom-scrollbar-sm {
        scrollbar-gutter: stable;
    }     */
    .custom-scrollbar-sm::-webkit-scrollbar {
      background: transparent;
      width: 4px;
    }
    .custom-scrollbar-sm::-webkit-scrollbar-thumb {
      background: rgb(210, 210, 210);
      border-radius: 100px;
    }
    .custom-scrollbar-sm::-webkit-scrollbar-thumb:hover {
        background: rgb(198, 198, 198);
    }
    .custom-scrollbar-sm::-webkit-scrollbar-thumb:active {
        background: rgb(164, 163, 163);
    }
}


/**
* details tag
**/
summary  {
    list-style: none;
}
summary::-webkit-details-marker {
    display: none;
}

summary::before {
  content: '';
  width: 12px;
  height: 12px;
  background: url('../../public/img/downArrow.png');
  background-size: cover;
  transition: 0.2s;
  margin-right: 5px;
}

details[open] > summary::before {
  transform: rotate(180deg);
}


/**
* custom X icon on search inputs
**/
input[type="search"]::-webkit-search-cancel-button {
    -webkit-appearance: none;
    height: 1em;
    width: 1em;
    border-radius: 50em;
    background: url(https://pro.fontawesome.com/releases/v5.10.0/svgs/solid/times-circle.svg) no-repeat 50% 50%;
    background-size: contain;
    opacity: 0;
    pointer-events: none;
  }
  
  input[type="search"]:focus::-webkit-search-cancel-button {
    opacity: .3;
    pointer-events: all;
    cursor: pointer;
  }





/*** test ***/

